/* Language Switch Component */

.lang-switch {
position: fixed;
  top: 10px;
  left: 16px;

  display: flex;
  flex-direction: row;
  direction: ltr; /* 🔒 prevent flipping */
  gap: 8px;

  z-index: 4000;
}

.lang-switch button {
  padding-block: 6px;
  padding-inline: 12px;

  border-radius: 12px;
  border: none;
  cursor: pointer;

  font-weight: 700;
  font-size: 14px;
  
  outline: none;
  background-color: transparent;
  
  background: #eee;
}

.lang-switch button.active {
  background: #000;
  color: #fff;
}
