  <!-- Menu Toggle Button -->

<div
  class="menu-overlay"
  aria-hidden="true"
  tabindex="-1"
>

  <nav
  id="main-menu"
  class="menu-content surah-menu"
  role="navigation"
  aria-label="Surah navigation"
>

    <!--
  Surah Navigation
  - data-surah: numeric identifier
  - data-i18n: translation key
  - Arabic text used as fallback
    -->

    <ul>
      
      <li>
  <a href="index.html" data-i18n="menu.home" data-surah="0">
    الرئيسية
  </a>
</li>

<li>
  <a href="surah.html?id=1" data-i18n="menu.001" data-surah="1">
    الفاتحة
  </a>
</li>
<li>
  <a href="surah.html?id=2" data-i18n="menu.002" data-surah="2">
    البقرة
  </a>
</li>
<li>
  <a href="surah.html?id=3" data-i18n="menu.003" data-surah="3">
    آل عمران
  </a>
</li>
<li>
  <a href="surah.html?id=4" data-i18n="menu.004" data-surah="4">
    النساء
  </a>
</li>
<li>
  <a href="surah.html?id=5" data-i18n="menu.005" data-surah="5">
    المائدة
  </a>
</li>
<li>
  <a href="surah.html?id=6" data-i18n="menu.006" data-surah="6">
    الأنعام
  </a>
</li>
<li>
  <a href="surah.html?id=7" data-i18n="menu.007" data-surah="7">
    الأعراف
  </a>
</li>
<li>
  <a href="surah.html?id=8" data-i18n="menu.008" data-surah="8">
    الأنفال
  </a>
</li>
<li>
  <a href="surah.html?id=9" data-i18n="menu.009" data-surah="9">
    التوبة
  </a>
</li>
<li>
  <a href="surah.html?id=10" data-i18n="menu.010" data-surah="10">
    يونس
  </a>
</li>
<li>
  <a href="surah.html?id=11" data-i18n="menu.011" data-surah="11">
    هود
  </a>
</li>
<li>
  <a href="surah.html?id=12" data-i18n="menu.012" data-surah="12">
    يوسف
  </a>
</li>
<li>
  <a href="surah.html?id=13" data-i18n="menu.013" data-surah="13">
    الرعد
  </a>
</li>
<li>
  <a href="surah.html?id=14" data-i18n="menu.014" data-surah="14">
    إبراهيم
  </a>
</li>
<li>
  <a href="surah.html?id=15" data-i18n="menu.015" data-surah="15">
    الحجر
  </a>
</li>
<li>
  <a href="surah.html?id=16" data-i18n="menu.016" data-surah="16">
    النحل
  </a>
</li>
<li>
  <a href="surah.html?id=17" data-i18n="menu.017" data-surah="17">
    الإسراء
  </a>
</li>
<li>
  <a href="surah.html?id=18" data-i18n="menu.018" data-surah="18">
    الكهف
  </a>
</li>
<li>
  <a href="surah.html?id=19" data-i18n="menu.019" data-surah="19">
    مريم
  </a>
</li>
<li>
  <a href="surah.html?id=20" data-i18n="menu.020" data-surah="20">
    طه
  </a>
</li>
<li>
  <a href="surah.html?id=21" data-i18n="menu.021" data-surah="21">
    الأنبياء
  </a>
</li>
<li>
  <a href="surah.html?id=22" data-i18n="menu.022" data-surah="22">
    الحج
  </a>
</li>
<li>
  <a href="surah.html?id=23" data-i18n="menu.023" data-surah="23">
    المؤمنون
  </a>
</li>
<li>
  <a href="surah.html?id=24" data-i18n="menu.024" data-surah="24">
    النور
  </a>
</li>
<li>
  <a href="surah.html?id=25" data-i18n="menu.025" data-surah="25">
    الفرقان
  </a>
</li>
<li>
  <a href="surah.html?id=26" data-i18n="menu.026" data-surah="26">
    الشعراء
  </a>
</li>
<li>
  <a href="surah.html?id=27" data-i18n="menu.027" data-surah="27">
    النمل
  </a>
</li>
<li>
  <a href="surah.html?id=28" data-i18n="menu.028" data-surah="28">
    القصص
  </a>
</li>
<li>
  <a href="surah.html?id=29" data-i18n="menu.029" data-surah="29">
    العنكبوت
  </a>
</li>
<li>
  <a href="surah.html?id=30" data-i18n="menu.030" data-surah="30">
    الروم
  </a>
</li>
<li>
  <a href="surah.html?id=31" data-i18n="menu.031" data-surah="31">
    لقمان
  </a>
</li>
<li>
  <a href="surah.html?id=32" data-i18n="menu.032" data-surah="32">
    السجدة
  </a>
</li>
<li>
  <a href="surah.html?id=33" data-i18n="menu.033" data-surah="33">
    الأحزاب
  </a>
</li>
<li>
  <a href="surah.html?id=34" data-i18n="menu.034" data-surah="34">
    سبأ
  </a>
</li>
<li>
  <a href="surah.html?id=35" data-i18n="menu.035" data-surah="35">
    فاطر
  </a>
</li>
<li>
  <a href="surah.html?id=36" data-i18n="menu.036" data-surah="36">
    يس
  </a>
</li>
<li>
  <a href="surah.html?id=37" data-i18n="menu.037" data-surah="37">
    الصافات
  </a>
</li>
<li>
  <a href="surah.html?id=38" data-i18n="menu.038" data-surah="38">
    ص
  </a>
</li>
<li>
  <a href="surah.html?id=39" data-i18n="menu.039" data-surah="39">
    الزمر
  </a>
</li>
<li>
  <a href="surah.html?id=40" data-i18n="menu.040" data-surah="40">
    غافر
  </a>
</li>
<li>
  <a href="surah.html?id=41" data-i18n="menu.041" data-surah="41">
    فصلت
  </a>
</li>
<li>
  <a href="surah.html?id=42" data-i18n="menu.042" data-surah="42">
    الشورى
  </a>
</li>
<li>
  <a href="surah.html?id=43" data-i18n="menu.043" data-surah="43">
    الزخرف
  </a>
</li>
<li>
  <a href="surah.html?id=44" data-i18n="menu.044" data-surah="44">
    الدخان
  </a>
</li>
<li>
  <a href="surah.html?id=45" data-i18n="menu.045" data-surah="45">
    الجاثية
  </a>
</li>
<li>
  <a href="surah.html?id=46" data-i18n="menu.046" data-surah="46">
    الأحقاف
  </a>
</li>
<li>
  <a href="surah.html?id=47" data-i18n="menu.047" data-surah="47">
    محمد
  </a>
</li>
<li>
  <a href="surah.html?id=48" data-i18n="menu.048" data-surah="48">
    الفتح
  </a>
</li>
<li>
  <a href="surah.html?id=49" data-i18n="menu.049" data-surah="49">
    الحجرات
  </a>
</li>
<li>
  <a href="surah.html?id=50" data-i18n="menu.050" data-surah="50">
    ق
  </a>
</li>
<li>
  <a href="surah.html?id=51" data-i18n="menu.051" data-surah="51">
    الذاريات
  </a>
</li>
<li>
  <a href="surah.html?id=52" data-i18n="menu.052" data-surah="52">
    الطور
  </a>
</li>
<li>
  <a href="surah.html?id=53" data-i18n="menu.053" data-surah="53">
    النجم
  </a>
</li>
<li>
  <a href="surah.html?id=54" data-i18n="menu.054" data-surah="54">
    القمر
  </a>
</li>
<li>
  <a href="surah.html?id=55" data-i18n="menu.055" data-surah="55">
    الرحمن
  </a>
</li>
<li>
  <a href="surah.html?id=56" data-i18n="menu.056" data-surah="56">
    الواقعة
  </a>
</li>
<li>
  <a href="surah.html?id=57" data-i18n="menu.057" data-surah="57">
    الحديد
  </a>
</li>
<li>
  <a href="surah.html?id=58" data-i18n="menu.058" data-surah="58">
    المجادلة
  </a>
</li>
<li>
  <a href="surah.html?id=59" data-i18n="menu.059" data-surah="59">
    الحشر
  </a>
</li>
<li>
  <a href="surah.html?id=60" data-i18n="menu.060" data-surah="60">
    الممتحنة
  </a>
</li>
<li>
  <a href="surah.html?id=61" data-i18n="menu.061" data-surah="61">
    الصف
  </a>
</li>
<li>
  <a href="surah.html?id=62" data-i18n="menu.062" data-surah="62">
    الجمعة
  </a>
</li>
<li>
  <a href="surah.html?id=63" data-i18n="menu.063" data-surah="63">
    المنافقون
  </a>
</li>
<li>
  <a href="surah.html?id=64" data-i18n="menu.064" data-surah="64">
    التغابن
  </a>
</li>
<li>
  <a href="surah.html?id=65" data-i18n="menu.065" data-surah="65">
    الطلاق
  </a>
</li>
<li>
  <a href="surah.html?id=66" data-i18n="menu.066" data-surah="66">
    التحريم
  </a>
</li>
<li>
  <a href="surah.html?id=67" data-i18n="menu.067" data-surah="67">
    الملك
  </a>
</li>
<li>
  <a href="surah.html?id=68" data-i18n="menu.068" data-surah="68">
    القلم
  </a>
</li>
<li>
  <a href="surah.html?id=69" data-i18n="menu.069" data-surah="69">
    الحاقة
  </a>
</li>
<li>
  <a href="surah.html?id=70" data-i18n="menu.070" data-surah="70">
    المعارج
  </a>
</li>
<li>
  <a href="surah.html?id=71" data-i18n="menu.071" data-surah="71">
    نوح
  </a>
</li>
<li>
  <a href="surah.html?id=72" data-i18n="menu.072" data-surah="72">
    الجن
  </a>
</li>
<li>
  <a href="surah.html?id=73" data-i18n="menu.073" data-surah="73">
    المزمل
  </a>
</li>
<li>
  <a href="surah.html?id=74" data-i18n="menu.074" data-surah="74">
    المدثر
  </a>
</li>
<li>
  <a href="surah.html?id=75" data-i18n="menu.075" data-surah="75">
    القيامة
  </a>
</li>
<li>
  <a href="surah.html?id=76" data-i18n="menu.076" data-surah="76">
    الإنسان
  </a>
</li>
<li>
  <a href="surah.html?id=77" data-i18n="menu.077" data-surah="77">
    المرسلات
  </a>
</li>
<li>
  <a href="surah.html?id=78" data-i18n="menu.078" data-surah="78">
    النبأ
  </a>
</li>
<li>
  <a href="surah.html?id=79" data-i18n="menu.079" data-surah="79">
    النازعات
  </a>
</li>
<li>
  <a href="surah.html?id=80" data-i18n="menu.080" data-surah="80">
    عبس
  </a>
</li>
<li>
  <a href="surah.html?id=81" data-i18n="menu.081" data-surah="81">
    التكوير
  </a>
</li>
<li>
  <a href="surah.html?id=82" data-i18n="menu.082" data-surah="82">
    الإنفطار
  </a>
</li>
<li>
  <a href="surah.html?id=83" data-i18n="menu.083" data-surah="83">
    المطففين
  </a>
</li>
<li>
  <a href="surah.html?id=84" data-i18n="menu.084" data-surah="84">
    الإنشقاق
  </a>
</li>
<li>
  <a href="surah.html?id=85" data-i18n="menu.085" data-surah="85">
    البروج
  </a>
</li>
<li>
  <a href="surah.html?id=86" data-i18n="menu.086" data-surah="86">
    الطارق
  </a>
</li>
<li>
  <a href="surah.html?id=87" data-i18n="menu.087" data-surah="87">
    الأعلى
  </a>
</li>
<li>
  <a href="surah.html?id=88" data-i18n="menu.088" data-surah="88">
    الغاشية
  </a>
</li>
<li>
  <a href="surah.html?id=89" data-i18n="menu.089" data-surah="89">
    الفجر
  </a>
</li>
<li>
  <a href="surah.html?id=90" data-i18n="menu.090" data-surah="90">
    البلد
  </a>
</li>
<li>
  <a href="surah.html?id=91" data-i18n="menu.091" data-surah="91">
    الشمس
  </a>
</li>
<li>
  <a href="surah.html?id=92" data-i18n="menu.092" data-surah="92">
    الليل
  </a>
</li>
<li>
  <a href="surah.html?id=93" data-i18n="menu.093" data-surah="93">
    الضحى
  </a>
</li>
<li>
  <a href="surah.html?id=94" data-i18n="menu.094" data-surah="94">
    الشرح
  </a>
</li>
<li>
  <a href="surah.html?id=95" data-i18n="menu.095" data-surah="95">
    التين
  </a>
</li>
<li>
  <a href="surah.html?id=96" data-i18n="menu.096" data-surah="96">
    العلق
  </a>
</li>
<li>
  <a href="surah.html?id=97" data-i18n="menu.097" data-surah="97">
    القدر
  </a>
</li>
<li>
  <a href="surah.html?id=98" data-i18n="menu.098" data-surah="98">
    البينة
  </a>
</li>
<li>
  <a href="surah.html?id=99" data-i18n="menu.099" data-surah="99">
    الزلزلة
  </a>
</li>
<li>
  <a href="surah.html?id=100" data-i18n="menu.100" data-surah="100">
    العاديات
  </a>
</li>
<li>
  <a href="surah.html?id=101" data-i18n="menu.101" data-surah="101">
    القارعة
  </a>
</li>
<li>
  <a href="surah.html?id=102" data-i18n="menu.102" data-surah="102">
    التكاثر
  </a>
</li>
<li>
  <a href="surah.html?id=103" data-i18n="menu.103" data-surah="103">
    العصر
  </a>
</li>
<li>
  <a href="surah.html?id=104" data-i18n="menu.104" data-surah="104">
    الهمزة
  </a>
</li>
<li>
  <a href="surah.html?id=105" data-i18n="menu.105" data-surah="105">
    الفيل
  </a>
</li>
<li>
  <a href="surah.html?id=106" data-i18n="menu.106" data-surah="106">
    قريش
  </a>
</li>
<li>
  <a href="surah.html?id=107" data-i18n="menu.107" data-surah="107">
    الماعون
  </a>
</li>
<li>
  <a href="surah.html?id=108" data-i18n="menu.108" data-surah="108">
    الكوثر
  </a>
</li>
<li>
  <a href="surah.html?id=109" data-i18n="menu.109" data-surah="109">
    الكافرون
  </a>
</li>
<li>
  <a href="surah.html?id=110" data-i18n="menu.110" data-surah="110">
    النصر
  </a>
</li>
<li>
  <a href="surah.html?id=111" data-i18n="menu.111" data-surah="111">
    المسد
  </a>
</li>
<li>
  <a href="surah.html?id=112" data-i18n="menu.112" data-surah="112">
    الإخلاص
  </a>
</li>
<li>
  <a href="surah.html?id=113" data-i18n="menu.113" data-surah="113">
    الفلق
  </a>
</li>
<li>
  <a href="surah.html?id=114" data-i18n="menu.114" data-surah="114">
    الناس
  </a>
</li>
      
<li class="menu-scroll-buffer" aria-hidden="true"></li>
      
    </ul>
  </nav>
</div>
